In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
import os

In [8]:

data_path = os.path.join("data", "multiTimeline-2.csv")
print(data_path)

flu_df = pd.read_csv(data_path)
flu_df.head()

data/multiTimeline-2.csv

                                                                    Category: All categories
Week       flu symptoms: (United Kingdom) flu jab: (United Kingdom)    flu: (United Kingdom)
2010-05-02 <1                             <1                                               4
2010-05-09 1                              <1                                               5
2010-05-16 1                              0                                                4
2010-05-23 1                              <1                                               5

data/multiTimeline-2.csv