In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress
import os

In [12]:

data_path = os.path.join("data", "fludata.csv")
#print(data_path)

flu_df = pd.read_csv(data_path)
flu_df.head()

         week flu_symptoms flu_jab  flu
0  2010-05-02           <1      <1    4
1  2010-05-09            1      <1    5
2  2010-05-16            1       0    4
3  2010-05-23            1      <1    5
4  2010-05-30            1       0    3

In [13]:
flu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   week          245 non-null    object
 1   flu_symptoms  245 non-null    object
 2   flu_jab       245 non-null    object
 3   flu           245 non-null    int64
dtypes: int64(1), object(3)
memory usage: 7.8+ KB

In [14]:
flu_df.flu_symptoms[  flu_df.flu_symptoms=='<1' ]

0     <1
7     <1
8     <1
10    <1
11    <1
13    <1
Name: flu_symptoms, dtype: object